<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of pet owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="net.passioncloud.petclinic.model.Owner"*/-->

    <h2 th:text="'List of owners'">List of owners</h2>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th style="width:150px;">Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">Jane</td>
            <td th:text="${owner?.lastName}">Mukisa</td>
        </tr>
        </tbody>
    </table>
</body>
</html>